public/img/
public/display_assets/
logs/
tmp/
scripts/
nbproject/
iisnode/
*.scc
Cpp_API*.log
.idea
public/js/reports/deleteme.json
npm-debug.log
daemon/
node_modules
aclient.js
apps/backup.log
*.DS_Store
!*.exe
!*.dll
debug.log
*.bak
db
format\.js
